
#banner { 
    width: 100px;;
}

h1{
    text-align: center;
}

p {
    text-aling: center
}

 em strong{
    color:red;
}

 strong{
      color: black;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}